*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: rgb(41, 41, 41);
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Anton', sans-serif;
}

a{
	color: rgb(59, 59, 58);
	text-decoration: none;
	background: rgba(255,255,255,0.9);
}

.nav{
	display: flex;
	list-style: none;
}

.nav li a{
	padding: 5px;
}